toxic/conf/xsd/adverts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="adverts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="advert" type="advert" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="advert">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="freq" type="xs:integer" use="optional"/>
        <xs:anyAttribute processContents="skip"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
