toxic/conf/xsd/smtp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="smtp">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="host" type="xs:string" minOccurs="1" maxOccurs="1"/>
		<xs:element name="port" type="xs:string" minOccurs="1" maxOccurs="1"/>
		<xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1"/>
		<xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1"/>
		<xs:element name="email" type="xs:string" minOccurs="1" maxOccurs="1"/>
	  </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
